<div class="container w-50 " style="text-align:center; margin-top:100px">
         <form action="/url" method="POST">
          <div style="display: flex; justify-content:center">
           <input type="url" name="url" placeholder="Put your URL here" size=50 style="font-size: 20px;" required >
           <button type="submit" class=" btn btn-outline-primary btn" >Shorten</button>
          </div>
         </form>
     </div> 