<div class="container w-50 text-center " style=" margin-top:50px">
         <h1 >Success! Please use this link:</h1>
         <h4 class="fw-bolder text-primary"  id="copy">{{ result_Url }}</h4>
         <button class="btn btn-primary" type="button" onclick="copyEvent()">Copy</button>
         <a href="/" class="btn btn-success" >back</a>
     </div> 